<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="text-center mozi">マイページ</div>
      <hr>
      <div class="row mb-3">
        <div class="col-md-6">メールアドレス</div>
        <b class="col-md-6 text-right">
          <%= @customer.email %>
        </b>
      </div>
      <hr>

      <div class="row mb-3">
        <div class="col-md-6">名前</div>
        <b class="col-md-6 text-right">
          <%= @customer.last_name %> <%= @customer.first_name %>
        </b>
      </div>
      <hr>

      <div class="row mb-3">
        <div class="col-md-6">カナ</div>
        <b class="col-md-6 text-right">
          <%= @customer.last_name_kana %> <%= @customer.first_name_kana %>
        </b>
      </div>
      <hr>

      <div class="row mb-3">
        <div class="col-md-6">郵便番号</div>
        <b class="col-md-6 text-right">
          <%= @customer.postal_code %>
        </b>
      </div>
      <hr>

      <div class="row mb-3">
        <div class="col-md-6">住所</div>
        <b class="col-md-6 text-right">
          <%= @customer.address %>
        </b>
      </div>
      <hr>

      <div class="row mb-3">
        <div class="col-md-6">電話番号</div>
        <b class="col-md-6 text-right">
          <%= @customer.telephone_number %>
        </b>
      </div>

      <p class="text-center"><%= link_to "会員情報を編集する",edit_customer_path(@customer) %></p>
      <p class="text-center"><%= link_to "注文一覧", orders_path %></p>
    </div>
  </div>
</div>