<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="text-center">マイページ</div>
      <hr>
      <div class="row mb-3">
        <div class="col-md-6">メールアドレス</div>
        <b class="col-md-6 text-right">
          <%= @customer.email %>
        </b>
      </div>
      <hr>

      <div class="row mb-3">
        <div class="col-md-6">名前</div>
        <b class="col-md-6 text-right">
          <%= @customer.last_name %> <%= @customer.first_name %>
        </b>
      </div>
      <hr>

      <div class="row mb-3">
        <div class="col-md-6">カナ</div>
        <b class="col-md-6 text-right">
          <%= @customer.last_name_kana %> <%= @customer.first_name_kana %>
        </b>
      </div>
      <hr>

      <div class="row mb-3">
        <div class="col-md-6">郵便番号</div>
        <b class="col-md-6 text-right">
          <%= @customer.postal_code %>
        </b>
      </div>
      <hr>

      <div class="row mb-3">
        <div class="col-md-6">住所</div>
        <b class="col-md-6 text-right">
          <%= @customer.address %>
        </b>
      </div>
      <hr>

      <div class="row mb-3">
        <div class="col-md-6">電話番号</div>
        <b class="col-md-6 text-right">
          <%= @customer.telephone_number %>
        </b>
      </div>

      <%= link_to edit_customer_path(@customer), class: "btn btn-outline-success" do %>
        <i class="fa-solid fa-gear"></i>
      <% end %>

      注文履歴のURL作る
    </div>
  </div>
</div>