<div class="container">
  <div class="text-center">商品情報編集</div>
  <hr>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <%= form_with model: @item, url: admin_item_path(@item), local: true do |f| %>
        <div class="row mb-3">
          <%= f.label :image, "商品画像", class: "col-md-4" %>
          <div class="col-md-8">
            <%= f.file_field :image, accept: "image/*" %>
          </div>
        </div>
        <div class="row mb-3">
          <%= f.label :name, "商品名", class: "col-md-4" %>
          <div class="col-md-8">
            <%= f.text_field :name, class: "form-control" %>
          </div>
        </div>
        <div class="row mb-3">
          <%= f.label :introduction, "説明", class: "col-md-4" %>
          <div class="col-md-8">
            <%= f.text_area :introduction, class: "form-control", rows: 4 %>
          </div>
        </div>
        <div class="row mb-3">
          <%= f.label :price, "価格", class: "col-md-4" %>
          <div class="col-md-8">
            <%= f.text_field :price, class: "form-control" %>
          </div>
        </div>
          
        <div class="d-flex justify-content-center">
          <%= f.button class: "btn btn-outline-success" do %>
            <i class="fa-solid fa-check"></i>
          <% end %>
          <div class="mr-3"></div>
          <%= link_to admin_item_path(@item), class: "btn btn-outline-danger", method: :delete, "data-confirm" => "本当に削除しますか？" do %>
            <i class="fa-solid fa-trash"></i>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>