<div class="container">
  <div class="text-center">商品詳細</div>
  <hr>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-3">
      <% if @item.image.attached? %>
        <%= image_tag @item.image, style: "width: 250px; height: 200px;" %>
      <% end %>
    </div>
    <div class="col-md-7">
      <p><b><%= @item.name %></b></p>
      <p><%= simple_format(@item.introduction) %></p>
      <p>税込価格 ¥<%= @item.price.to_i.to_s(:delimited) %></p>
      <%= link_to edit_admin_item_path(@item), class: "btn btn-outline-success" do %>
        <i class="fa-solid fa-gear"></i>
      <% end %>
    </div>
  </div>
</div>