<div class="container">
  <div class="row">
    <div class="col text-center">
      <%= image_tag "top.jpg", style: "width: 400px;" %>
      <p>GomaShopは、名古屋市から全国へ</p>
      <p>丁寧さと素材にこだわったお菓子を届けるECサイトです。</p>
      <p>ご購入には会員登録が必要です。</p>
    </div>
  </div>

  <div class="row">
    <% @items.each do |item| %>
      <div class="col-md-3 mb-4 text-center">
        <div style="padding: 10px;">
          <%= link_to item_path(item) do %>
            <%= image_tag item.image, style: "width: 100%; height: 200px; object-fit: cover;" %>
          <% end %>
          <b><%= item.name %></b>
          <p>¥<%= item.price.to_i.to_s(:delimited) %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
