<p>会員情報編集</p>

<%= form_with model: @customer, url: admin_customer_path(@customer), local: true do |f| %>

   <div class="field">
    <%= f.label :last_name, "姓" %><br />
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :first_name, "名" %><br />
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label :last_name_kana, "セイ" %><br />
    <%= f.text_field :last_name_kana %>
  </div>

  <div class="field">
    <%= f.label :first_name_kana, "メイ" %><br />
    <%= f.text_field :first_name_kana %>
  </div>

  <div class="field">
    <%= f.label :postal_code, "郵便番号" %><br />
    <%= f.text_field :postal_code %>
  </div>

  <div class="field">
    <%= f.label :address, "住所" %><br />
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :telephone_number, "電話番号" %><br />
    <%= f.text_field :telephone_number %>
  </div>

  <div class="field">
    <%= f.label :email,"メールアドレス" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <p>会員ステータス</p>
  <%= f.radio_button :is_active, "true" %>
  <%= f.label :is_active, "有効" %>
  <%= f.radio_button :is_active, "false" %>
  <%= f.label :is_active, "無効" %>


  <%= f.button class: "btn btn-outline-success" do %>
    <i class="fa-solid fa-check"></i>
  <% end %>

<% end %>
