<div class="text-center mozi">ショッピングカート</div>
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <table class="table">
        <% @cart_items.each do |cart_item| %>
          <tr>
            <td><%= cart_item.item.name %></td>
            <td>￥<%= cart_item.item.price %></td>
            <td>
              <%= form_with(model: cart_item, url: cart_item_path(cart_item), method: :patch, local: true, class: "d-flex align-items-center gap-2") do |f| %>
                <div class="mr-2">
                  <%= f.select :amount, options_for_select(1..3), {}, class: "form-control form-select shadow-sm" %>
                </div>
                <%= f.submit "変更" %>
              <% end %>
            </td>
            <td>
              <%= link_to "削除", cart_item_path(cart_item), method: :delete, data: { confirm: "本当に削除しますか？" } %>
            </td>
          </tr>
        <% end %>
      </table>
      <div class="text-center">
        <% if current_customer.cart_items.any? %>
          <p><%= link_to "買い物を続ける", items_path %></p>
          <p><%= link_to "会計に進む", new_order_path %></p>
        <% else %>
          <p>カートにアイテムがありません。</p>
          <p><%= link_to "お買い物へ", items_path %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
