<div class="container">
  <div class="row">
    <div class="col-md-6">
      <% if @item.image.attached? %>
        <%= image_tag @item.image, style: "width: 100%; object-fit:cover; aspect-ratio:5/4;" %>
      <% end %>
    </div>
    <div class="col-md-6">
      <p><b><%= @item.name %></b></p>
      <p><%= simple_format(@item.introduction) %></p>
      <p class="mozi">¥<%= @item.price.to_i.to_s(:delimited) %></p>
      <div class="d-flex justify-content-end mt-3">
        <%= form_with model: @cart_item, url: cart_items_path, local: true do |f| %>
          <div class="d-flex align-items-center">
            <div class="mr-2">
              <%= f.select :amount, options_for_select(1..3), {}, class: "form-control form-select shadow-sm" %>
            </div>
            <%= f.hidden_field :item_id, value: @item.id %>
            <%= f.submit "カートに追加", class: "btn btn-outline-success shadow-sm" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

