<!DOCTYPE html>
<html>
  <head>
    <title>Gomashop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/3e1d980350.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if controller_path.start_with?("admin/") %>
      <%= render 'layouts/admin' %>
    <% else %>
      <%= render 'layouts/public' %>
    <% end %>

    <% if notice %>
      <div class="alert alert-success text-center">
        <%= notice %>
      </div>
    <% end %>

    <% if alert %>
      <div class="alert alert-danger  text-center">
        <%= alert %>
      </div>
    <% end %>
    
      <% if !controller_path.start_with?("admin/") %>
        <div class="container py-5">
          <div class="bg-white p-5 rounded shadow-sm">
            <%= yield %>
          </div>
        </div>
      <% else %>
        <%= yield %>
      <% end %>
  </body>
</html>
